html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

html, body, div#container {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* A column-oriented flexbox system */
div#container {
  display: flex;
  flex-direction: column;
}

/* Main container should take up as much space as possible */
div#container div#main {
  flex: 1 1 auto;
}

/* The settings should be initially closed, but can be opened by the settings gear icon */
div#container div#settings {

}

/* The status bar should take as little space as possible, and is itself a row-oriented flexbox */
div#container div#status {
  padding: 6px 12px;

  background-color: bisque;
  display: flex;
  flex-direction: row;

  flex: 0 0 auto;
}

/* The status bar text should take up as much space as possible, and be vertically aligned in the middle */
/* If text overflow, it is indicated by ellipses. On hover (and touch in mobile), it shows the full text */
div#container div#status div#status-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  align-self: center;
  flex: 1 1 auto;
}

/* This works to expand the text on desktop. On mobile, you can tap, but must tap away to get rid of this. */
div#container div#status div#status-text:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: initial;
  height: auto;
}

/* The status bar text should take up as little space as possible, and be vertically aligned in the middle */
div#container div#status div#status-button-bar {
  align-self: center;
  flex: 0 0 auto;
}

div#container div#status div#status-button-bar button {
  padding: 0.5rem 0.75rem;
  margin: 0;
}

div.panel {
  height: 100%; /* For now this is 100%, later we can make this dynamically generated to have splittable panels */
}

div.plot {
  height: 100%;
}
