html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* A column-oriented flexbox */
div.column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/* A row-oriented flexbox */
div.row {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

/* Disable the gap for either a row or column */
.no-gap {
  gap: 0 0 !important;
}

/* An equally spaced column or row in a flexbox */
div.item {
  flex: 1 1 0;
  height: 100%;
  width: 100%;
}

div#main {
  height: 100%;
}

div#status {
  flex: 0 1 auto;

  padding: 6px 12px;
  background-color: bisque;
}

/* The status bar text should take up as much space as possible, and be vertically aligned in the middle */
/* If text overflow, it is indicated by ellipses. On hover (and touch in mobile), it shows the full text */
div#status div#status-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  align-self: center;
  flex: 1 1 auto;
}

/* This works to expand the text on desktop. On mobile, you can tap, but must tap away to get rid of this. */
div#status div#status-text:hover {
  overflow: visible;
  white-space: normal;
  text-overflow: initial;
  height: auto;
}

/* The status bar text should take up as little space as possible, and be vertically aligned in the middle */
div#status div#status-button-bar {
  align-self: center;
  flex: 0 0 auto;
}

div#container div#status div#status-button-bar button {
  padding: 0.5rem 0.75rem;
  margin: 0;
}
